footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.footer-icons img {
  width: 30px;
}

/* 아이콘 애니메이션 효과 */

@keyframes icons-dongdong {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons:hover img {
  animation: 0.7s icons-dongdong;
}

.footer-icons {
  font-size: 9px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}
